.ar-back {
    width: 25px;
    height: 25px;
    margin-top: 30px;
    margin-left: 20px;
}


.article-title {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.article-user {
    margin: 25px 0;
    margin-left: 20px;
    font-size: 1.2rem;
}

.article-content {
    margin: 0 20px;
    margin-bottom: 5vw;
    line-height: 1.2rem;
}

.ar-heartAndMsg-container {
    display:flex;
    /* padding-bottom: 15px; */
    width: 100%;
}

.ar-heart {
    width: 25px;
    margin-left: 2vw;

}

.ar-heartCount {
    width: 25px;
    margin-top: 5px;
    margin-left: 20px;
}

.ar-bookmark {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.ar-bookmarkOn {
    width: 31px;
    height: 25px;
    margin-left: 20px;
}

.ar-share {
    width: 25px;
    height: 25px;
    margin-left: 170px;
}

.ar-shareOn {
    width: 25px;
    height: 25px;
    margin-left: 44.3vw;
}

.ar-articleBox {
    margin-top: 15px;
    margin: 10px 30px;
    height: auto;
    background-color: #EADFDF;
    border-radius: 15px;

}


.ar-messageName {
    padding-top: 20px;
    margin-left: 20px;
    font-size: 1rem;
}

.ar-content {
    margin: 0px 20px;
    padding: 20px 0;
    font-size: 1rem;
}

.ar-allMsg {
    margin: 30px 0;
    margin-left: 30px;

}