/* 
.menuMaskOn {
    position: fixed;
    top: 0;
    left: 100;
    background-color: black;
    opacity: 0.7;
    width: 390px;
    height: 100vh;
    z-index: 2;
}



.dialogOn {
    position: relative;
    width: 225px;
    height: 325px;
    border-radius: 15px;
    background-color: #EADFDF;
    top: -500px;
    left: 60px;
    opacity: 1;
    z-index: 3;
    margin: 100px 15px;
}



.dialogTextOn {
    position: relative;
    top: -850px;
    left: 140px;
    z-index: 4;
} */

.imgOn {
    position: relative;
    width: 100px;
    top: 10px;
    left: 50px;
    z-index: 4;
}
#dialog {
    --max-width: 390px;
    width: 200px;
    height: 300px;
    background-color: #F6F1ED;
    border: none;
    border-radius: 15px;
    /* margin-bottom:800px ; */
}

#dialog::backdrop {
    max-width: var(--max-width);
    left: calc(50% - (var(--max-width) / 2));
    background-color: rgba(0, 0, 0, 0.3);
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.content>p {
    height: 30px;
}

.content2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.content-btn {
    background-color: #EADFDF;
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
}