.err-dialogOn {
    width: 225px;
    height: 325px;
    border-radius: 15px;
    background-color: #EADFDF;
    position: fixed; 
    top: 20%; 
    left: 25%; 
    opacity: 1;
    z-index: 3;
}

.err-warningImgOn{
    display: flex;
    position: fixed; 
    width: 100px;
    z-index: 4;
    top:53vw;
    left: 41vw;
}

.err-dialogTextOn{
    position: fixed; 
    z-index: 4;
    top: 85vw;
    left: 45vw;
}

.err-dialogTextOn2{
    position: fixed; 
    z-index: 4;
    top: 90vw;
    left: 36vw;
}

.err-dialogTextOn3{
    position: fixed; 
    z-index: 4;
    top: 100vw;
    left: 40vw;
    background-color: #F6F1ED;
    border-radius: 10px;
    padding: 3vw 5vw;
}