@font-face {
    font-family: 'R';
    src: url('../../public/R.ttc') format('truetype');
}

* {
    font-size: 1rem;
    /* margin: 0; */
    line-height: 1rem;
    color: #000;
    font-family: 'R', sans-serif;
    
}


a {
    color: #000;
    text-decoration: none;
}


.header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 5vh;
    height: 40px;
    align-items: center;

}

.navBar {
    background-color:#F6F1ED ;
    width: 390px;
    height: 14vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#logo {
    color: black;
    margin-top: 30px;
}

#search {
    margin-left: 150px;
    margin-top: 50px;
    width: 25px;
    height: 25px;
}

#menu {
    margin-left: 20px;
    margin-top: 50px;
    width: 25px;
    height: 25px;
}


.title {
    margin-top: 10vh;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.title2 {
    margin-top: 2vh;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.subTitle {
    margin-top: 15vh;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.workingImg {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: relative;
}

.work {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#mask {
    background-color: black;
    opacity: 0.7;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#mask p {
    text-align: center;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.test {
    max-width: 390px;
}


.menuMaskOn {
    position: fixed;
    top: 0%;
    background-color: black;
    opacity: 0.7;
    width: 390px;
    height: 100vh;
    z-index: 2;
}


.menuOn {
    position: fixed;
    top: 0vw;
    margin-left: 150px;
    width: 240px;
    height: 100%;
    background-color: #F6F1ED;
    z-index: 3;
}

.closeButtonOn {
    position: fixed;
    z-index: 4;
    width: 25px;
    top: 50px;
    left: 670px;
}
.closeButtonOff {
    visibility: hidden;
    display: none;
}

.menu-textOn {
    position: absolute;
    top:100px;
    left:850px;
    visibility: visible;
    z-index: 5;
    color: black;
}

.menu-textOff {
    visibility: hidden;
}

.menu-text2On {
    position: absolute;
    top:30px;
    left:550px;
    visibility: visible;
    z-index: 5;
    margin-top: 10vw;
    color: black;
}

.searchBoxOn {
    position: fixed;
    top: 0vw;
    left: 260px;
    width: 300px;
    height: 5vh;
    margin-left: 10%;
    background-color: white;
    border-radius: 20px;
    z-index: 5;
    visibility: visible;
    padding-left: 4vw;
}


.searchBoxOff {
    visibility: hidden;
    display: none;
}

.searchBoxGlassOn {
    position: fixed;
    top: 10px;
    left: 70px;
    width: 30px;
    height: 30px;
    margin-left: 600px;
    z-index: 6;
    visibility: visible;
}

.searchBoxGlassOff {
    visibility: hidden;
    display: none;
}


.maskdivOn {
    display: block;
}

.maskdivOff {
    display: none;
}