body {
    margin: 0;
}


.mem-back {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15vw;
    left: 10vw;
}

.memberAria {
    width: 100%;
    height: 130px;
    background-color: #EADFDF;
    margin: 0;
    border-radius: 15px;
}

.userName {
    position: absolute;
    top: 17vw;
    left: 43vw;
    font-size: 1.5rem;
}

.bell {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15vw;
    left: 80vw;
}

.mem-maskdivOn {
    display: block;
}

.mem-maskdivOff {
    display: none;
}

.mem-menuMaskOn {
    position: fixed;
    top: 0%;
    background-color: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}


.mem-menuOn {
    position: fixed;
    top: 0vw;
    margin-left: 40vw;
    width: 60vw;
    height: 100%;
    background-color: #F6F1ED;
    z-index: 3;
}


.mem-articleBox2 {
    position: fixed;
    top: 30vw;
    width: 60vw;
    height: auto;
    background-color: #EADFDF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 4;
}

.mem-title {
    padding:7vw 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 20px 10px;
}


.mem-closeButtonOn {
    position: fixed;
    z-index: 4;
    width: 25px;
    top: 12vw;
    left: 83vw;
}

.mem-closeButtonOff {
    visibility: hidden;
    display: none;
}


.userNameMaskOn {
    position: absolute;
    top: 15vw;
    left: 55vw;
    visibility: visible;
    z-index: 4;
    font-size: 1.5rem;
    color: black;
}


