.pa-back {
    width: 25px;
    height: 25px;
}


.pa-memberAria {
    width: 380px;
    height: 130px;
    background-color: #EADFDF;
    margin: 0;
    border-radius: 15px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    align-items: center;
    justify-items: center;
}

.pa-title {
    font-size: 1.3rem;
}

.pa-articleBox {
     margin: 0 30px;
     margin-top: 30px;
     height: auto;
     background-color: #EADFDF;
     border-radius: 15px;
 }

 .pa-articletitle {
    width: 100%;
    padding-top: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.pa-content {
    margin: 0 15px;
    font-size: 1rem;
}

.heartAndMsg-container {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    height: 30px;
}


.heart {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: 20px;

}

.heartAndMsgCount {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.message {
    width: 25px;
    height: 25px;
    margin-left: 30px;
    margin-top: 20px;
}