.mem-back {
    width: 25px;
    height: 25px;
}


.memberAria {
    width: 390px;
    height: 130px;
    background-color: #EADFDF;
    margin: 0;
    border-radius: 15px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    align-items: center;
    justify-items: center;
}

.userName {
    font-size: 1.5rem;
}

.bell {
    width: 30px;
    height: 30px;
}

.mem-back {
    width: 25px;
    height: 25px;
}


.maskOn {
    position: fixed;
    top: 0%;
    background-color: black;
    opacity: 1;
    width: 150px;
    height: 100vh;
    z-index: 3;
}


.menuOff {
    display: none;
}

.menuOn {
    position: relative;
    top: 0px;
    margin-left: 150px;
    width: 240px;
    height: 100vh;
    background-color: #F6F1ED;
    z-index: 5;
    overflow:auto;
}



.mem-articleBox {
    width: 180px;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
    background-color: #EADFDF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 5;
    padding: 15px;
}
.userName {
    padding: 40px 0;
    padding-left: 50px;
}
.closeButtonOn {
    width: 25px;
    top: 0px;
    left: 150px;
    z-index: 4;
    padding-top: 25px;
    padding-left: 30px;
}
.closeButtonOff {
    visibility: hidden;
    display: none;
}




.mem-middle {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10vw;
}

.linkAria {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 200px;
    padding-top: 10vw;
}

.link {
    font-size: 1.3rem;
}