.np-back {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15vw;
    left: 10vw;
}

.npPage {
    margin-top: 30vw;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.np-logo {
    font-size: 2rem;
    font-weight: bold;
    border-right: 2px solid black;
    padding-right: 5vw;
}

.np-loginTitle {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    margin-left: 5vw;
} 

.np-text {
    font-weight: 500;
    margin-top: 10vw;
    line-height: 1.2rem;

}

.np-textBox{
    display: flex;
    justify-content: center;
}


.np-inputText {
    width: 70%;
    height: 5vh;
    background-color: white;
    border-radius: 20px;
    font-size: 0.8rem;
    padding-left: 5vw;
    border: none;
}

.np-inputAria2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 10vw; */
    padding-top: 5vw;
}

.np-loginbtn {
    background-color: #EADFDF;
    border: none;
    border-radius: 5px;
    margin-top: 10vw;
    padding: 3vw 30vw;
    
}

.np-loginbtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.np-inputText {
    width: 70%;
    height: 5vh;
    background-color: white;
    border-radius: 20px;
    font-size: 0.8rem;
    padding-left: 5vw;
    border: none;
}

.np-inputAria {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 10vw; */
    padding-top: 15vw;
}

.np-inputAria2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 10vw; */
    padding-top: 5vw;
}

.np-inputP {
    width: 30%;
    /* font-weight: bold; */
}

.np-loginbtn {
    background-color: #EADFDF;
    border: none;
    border-radius: 5px;
    margin-top: 10vw;
    padding: 3vw 30vw;
    
}

.np-loginbtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
}