 .sh-middle {
     position: relative;
     display: flex;
     justify-content: center;
 }

 .sh-searchBox {
     position: relative;
     /* 將輸入框設置為相對定位的父元素 */
     width: 320px;
     height: 40px;
     background-color: white;
     border-radius: 20px;
     margin-top: 30px;
     padding-left: 20px;
     border: none;
 }

 .sh-searchBoxGlass {
     width: 25px;
     height: 25px;
     visibility: visible;
     position: absolute;
     top: 55%;
     right: 50px;
     z-index: 2;
     cursor: pointer;
 }

 .sh-back {
     width: 25px;
     height: 25px;
     margin-top: 30px;
     margin-left: 20px;
     cursor: pointer;
 }

 .articleBox {
     margin: 0 30px;
     margin-top: 20px;
     height: auto;
     background-color: #EADFDF;
     border-radius: 15px;
 }

 .sh-title {
     padding-top: 30px;
     margin-left: 15px;
     margin-bottom: 15px;
     font-size: 1.3rem;
     line-height: 1.5rem;
 }

 .sh-content {
     margin: 0 15px;
     font-size: 1rem;
 }

 .heartAndMsg-container {
     display: flex;
     align-items: center;
     padding-bottom: 30px;
     height: 30px;
 }


 .heart {
     width: 25px;
     height: 25px;
     margin-left: 15px;
     margin-top: 20px;

 }

 .heartAndMsgCount {
     margin-left: 20px;
     margin-top: 20px;
     font-weight: bold;
 }

 .message {
     width: 25px;
     height: 25px;
     margin-left: 30px;
     margin-top: 20px;
 }

 .sh-pagiNation {
    margin-top: 30px;
    margin-left: 60px;
    position: relative;
    left: 47%; 
    transform: translate(-50%, 0);
    width: 300px;
    max-width: 1200px;
 }

 .sh-btnArea {
    display: inline;
 }
 .sh-pageNumber {
    border: none;
    cursor: pointer;
    background-color: rgb(128, 128, 128,0.3);
    margin-left: 7px;
    border-radius: 2px;
 }

 .sh-pageNumberNow {
    border: none;
    cursor: pointer;
    background-color: #eea7a7;
    margin-left: 10px;
    border-radius: 2px;
 }
 .sh-pageNumberNone {
   display: none;
 }