/* body {
    padding: 0 2rem;
} */

.sh-searchBox {
    position: fixed;
    top: 20vw;
    width: 82vw;
    height: 5vh;
    background-color: white;
    border-radius: 20px;
    padding-left: 4vw;
    border: none;
}

.sh-searchBoxGlass {
    position: fixed;
    width: 7vw;
    top: 21vw;
    left: 80vw;
    z-index: 6;
    visibility: visible;
}

.sh-back {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8vw;
    left: 10vw;
}

.articleBox {
    margin-top: 40vw;
    height: auto;
    background-color: #EADFDF;
    border-radius: 15px;
}

.sh-title {
    padding-top: 7vw;
    margin-bottom: 5vw;
    margin-left: 3vw;
    font-size: 1.4rem;
}

.sh-content {
    margin: 3vw 3vw;
    font-size: 1rem;
}

.heartAndMsg-container {
    display: flex;
    align-items: center;
    padding-bottom: 3vw;
}


.heart {
    width: 25px;
    height: 25px;
    margin-left: 45vw;

}

.heartAndMsgCount {
    margin-left: 3vw;
    font-weight: bold;
}

.message {
    width: 25px;
    height: 25px;
    margin-left: 3vw;
}


.articleBox2 {
    margin-top: 5vw;
    height: auto;
    background-color: #EADFDF;
    border-radius: 15px;
}